

<head><title>Ceremony</title></head>

<body class="background-maddie">

<div class="ceremony-box">
<h1 class="ceremony">Ceremony</h1>
</div>
<div class="ceremony-box-sub">
<ul>
  <li>Location</li>|
  <li>Wedding Party</li>|
  <li>Accommodations</li>
</ul>
</div>
<div class="left-text">
<h4> The Ceremony and Reception will be held at Festival Park, Roanoke Island, NC.</h4>

Hotel accommodations
anteo  
Cottages:
http://www.vrbo.com/vacation-rentals/usa/north-carolina/coastal/outer-banks/manteo
Tranquil House Inn
http://www.tranquilhouseinn.com/
Cameron House Inn
http://www.cameronhouseinn.com/
Burrus House Inn
http://www.burrushouseinn.com/
The White Doe Inn
http://www.whitedoeinn.com/
 
Nags Head
Stan White Realty 
http://www.outerbanksrentals.com/
Nags Head Realty 
http://www.nagsheadrealty.com/
Joe Lamb 
http://www.joelambjr.com/index.htm
Village Realty 
http://www.villagerealtyobx.com/anteo  
Cottages:
http://www.vrbo.com/vacation-rentals/usa/north-carolina/coastal/outer-banks/manteo
Tranquil House Inn
http://www.tranquilhouseinn.com/
Cameron House Inn
http://www.cameronhouseinn.com/
Burrus House Inn
http://www.burrushouseinn.com/
The White Doe Inn
http://www.whitedoeinn.com/
 
Nags Head
Stan White Realty 
http://www.outerbanksrentals.com/
Nags Head Realty 
http://www.nagsheadrealty.com/
Joe Lamb 
http://www.joelambjr.com/index.htm
Village Realty 
http://www.villagerealtyobx.com/anteo  
Cottages:
http://www.vrbo.com/vacation-rentals/usa/north-carolina/coastal/outer-banks/manteo
Tranquil House Inn
http://www.tranquilhouseinn.com/
Cameron House Inn
http://www.cameronhouseinn.com/
Burrus House Inn
http://www.burrushouseinn.com/
The White Doe Inn
http://www.whitedoeinn.com/
 
Nags Head
Stan White Realty 
http://www.outerbanksrentals.com/
Nags Head Realty 
http://www.nagsheadrealty.com/
Joe Lamb 
http://www.joelambjr.com/index.htm
Village Realty 
http://www.villagerealtyobx.com/anteo  
Cottages:
http://www.vrbo.com/vacation-rentals/usa/north-carolina/coastal/outer-banks/manteo
Tranquil House Inn
http://www.tranquilhouseinn.com/
Cameron House Inn
http://www.cameronhouseinn.com/
Burrus House Inn
http://www.burrushouseinn.com/
The White Doe Inn
http://www.whitedoeinn.com/
 
Nags Head
Stan White Realty 
http://www.outerbanksrentals.com/
Nags Head Realty 
http://www.nagsheadrealty.com/
Joe Lamb 
http://www.joelambjr.com/index.htm
Village Realty 
http://www.villagerealtyobx.com/anteo  
Cottages:
http://www.vrbo.com/vacation-rentals/usa/north-carolina/coastal/outer-banks/manteo
Tranquil House Inn
http://www.tranquilhouseinn.com/
Cameron House Inn
http://www.cameronhouseinn.com/
Burrus House Inn
http://www.burrushouseinn.com/
The White Doe Inn
http://www.whitedoeinn.com/
 
Nags Head
Stan White Realty 
http://www.outerbanksrentals.com/
Nags Head Realty 
http://www.nagsheadrealty.com/
Joe Lamb 
http://www.joelambjr.com/index.htm
Village Realty 
http://www.villagerealtyobx.com/
Manteo  
Cottages:
http://www.vrbo.com/vacation-rentals/usa/north-carolina/coastal/outer-banks/manteo
Tranquil House Inn
http://www.tranquilhouseinn.com/
Cameron House Inn
http://www.cameronhouseinn.com/
Burrus House Inn
http://www.burrushouseinn.com/
The White Doe Inn
http://www.whitedoeinn.com/
 
Nags Head
Stan White Realty 
http://www.outerbanksrentals.com/
Nags Head Realty 
http://www.nagsheadrealty.com/
Joe Lamb 
http://www.joelambjr.com/index.htm
Village Realty 
http://www.villagerealtyobx.com/
 
Additional Information

Please visit  www.outerbanks.org for local information. 
 
More info to come regarding wedding weekend activities!
</div>
</body>
</html>

