

<head><title>Ceremony and Reception</title></head>

<body class="background-maddie">

<div class="ceremony-box">
<h1 class="ceremony">Ceremony</h1>
</div>
<div class="ceremony-box-sub">
<ul>
  <li id='location'>Location</li>|
  <li id='wedding-party'>Wedding Party</li>|
  <li id='accommodations'>Accommodations</li>
</ul>
</div>
<div class="left-text">
		<h4>The Ceremony and Reception will be held at Roanoke Island, NC</h4>
		<p>1 Festival Park<br>Manteo, NC 27954</p>
		<p><a href='http://roanokeisland.com'>Roanoke Island Website</a></p>
		<iframe width='400' height='300' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Roanoke+Island,+1+Festival+Park,+Manteo,+NC,+United+States&amp;aq=0&amp;oq=1+festival+park+roanoke&amp;sll=37.0625,-95.677068&amp;sspn=44.60973,78.837891&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;t=m&amp;ll=35.911038,-75.668249&amp;spn=0.005214,0.008583&amp;z=16&amp;output=embed'></iframe><br /><small><a href='https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Roanoke+Island,+1+Festival+Park,+Manteo,+NC,+United+States&amp;aq=0&amp;oq=1+festival+park+roanoke&amp;sll=37.0625,-95.677068&amp;sspn=44.60973,78.837891&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;t=m&amp;ll=35.911038,-75.668249&amp;spn=0.005214,0.008583&amp;z=16' style='color:#0000FF;text-align:left'>View Larger Map</a></small>
</div>
</body>
</html>

