

<body class="background4"

<div class="story-box">
<h1 class='home'>Our Story</h1>
</div>
<div class="story-box-sub">
<ul>
  <li id='about'>About Us</li>|
  <li id='meeting'>How We Met</li>|
  <li id='proposal'>The Proposal</li>
  
</ul>
</div>
<div class="story-text">
	<h4>About Kara</h4>
	<p>Kara grew up in Richmond, Virginia with her Mom, Dad, and brother Kyle. She attended the College of William and Mary and moved to New York after graduation to teach high school science through Teach for America. After 3 years in the city, she returned to Virginia for medical school.</p>
	<h4>About John</h4>
	<p>John spent his childhood in West Lafayette, Indiana (Boiler Up!) with his parents and older sister Anna. He went to Rose Hulman Institue of Technology, where he played soccer and golf. He attended IU School of Medicine for medical school and Anesthesia residency. </p>
	</div>
</body>
</html>