

<body class="background-maddie">

<div class="ceremony-box">
<h1 class="ceremony">Our Story</h1>
</div>
<div class="ceremony-box-sub">
<ul>
  <li>About Us</li>|
  <li>How We Met</li>|
  <li>The Proposal</li>
  
</ul>
</div>
<div class="left-text">
<h4> Lorem Ipsum dolor sit amet.....</h4>

<p>John had to be sneaky. He and Kara had discussed getting engaged, rings they liked, etc. They both wanted the actual proposal to be a surprise, but Kara couldn't help herself. She was SO nosy, always asking John if he'd gone ring shopping, if the ring was ready, suggesting good places to propose, the list goes on... So, John started feeding her stories about glitches in the ring designing process, and told her the ring wouldn't be ready for months. </p>
<p>
Meanwhile, John was planning a trip to Richmond for the holidays. He told Kara that Anna (his sister) wanted to go hiking. Kara left John to plan the hike, making sure to mention that if it was too cold, she would not be hiking. She also joked that it was too bad the ring wasn't ready, because a hike would be a great place to propose! </p>

<p>
When they got to the Blue Ridge Parkway to head towards the trailhead, there was one small hitch. The parkway was closed due to snow that had fallen several days before. Luckily, there was an entrance to the Appalachian trail at the Parkway entrance, so they were able to hike anyway. While they were hiking, John kept looking at his phone. He said he wanted to find a good vista where they could end the hike. With no good views in sight, they decided to turn back. </p>

<p>
On the way home, John pulled off at at a scenic overlook. Anna offered to take a picture of Kara and John. Before Kara knew what was happening, John was down on one knee. Of course, since Kara just knew the ring wasn't ready, she told John to get up and stop joking around. However, she quickly realized what was going on and said yes! (And didn't neglect to call John a liar in the process!) The best part was that Anna photographed the entire thing!</p>
</div>
</body>
</html>