<body class='background5'>

    <div class='photo-select'>
  		<ul>		
		  <li><img id='kj1' src='/assets/kara_john1.jpg' /></li>
		  <li><img id='kj2' src='/assets/kara_john2.jpg' /></li>
		  <li><img id='kj3' src='/assets/kara_john3.jpg' /></li>
		  <li><img id='kj4' src='/assets/kara_john4.jpg' /></li>
		  <li><img id='kj5' src='/assets/kara_john5.jpg' /></li>
		  <li><img id='kj6' src='/assets/kara_john6.jpg' /></li>
		  <li><img id='kj7' src='/assets/kara_john7.jpg' /></li>
		  <li><img id='kj8' src='/assets/kara_john8.jpg' /></li>
		  <li><img id='kj9' src='/assets/kara_john9.jpg' /></li>
		  <li><img id='kj10' src='/assets/kara_john10.jpg' /></li>
		  <li><img id='kj11' src='/assets/kara_john11.jpg' /></li>
		  <li><img id='kj12' src='/assets/kara_john12.jpg' /></li>
		  <li><img id='kj13' src='/assets/kara_john13.jpg' /></li>
		  <li><img id='kj14' src='/assets/kara_john14.jpg' /></li>
		  <li><img id='kj15' src='/assets/kara_john15.jpg' /></li>
		  <li><img id='kj16' src='/assets/kara_john16.jpg' /></li>
		</ul>
	</div>

	<div class='photo-main'>
		<img src='/assets/kara_john1.jpg' />
	</div>