<body class='background5'>

    <div class='photo-select'>
  		<ul>		
		<li><img src='/assets/Greenfield_Burgner-Lusk-14.jpg' /></li>
		<li><img src='/assets/Greenfield_Burgner-Lusk-14.jpg' /></li>
		<li><img src='/assets/Greenfield_Burgner-Lusk-14.jpg' /></li>
		<li><img src='/assets/Greenfield_Burgner-Lusk-14.jpg' /></li>
		<li><img src='/assets/Greenfield_Burgner-Lusk-14.jpg' /></li>
		<li><img src='/assets/Greenfield_Burgner-Lusk-14.jpg' /></li>	
    </div>

	<div class='photo-main'>
		<img src='/assets/Greenfield_Burgner-Lusk-14.jpg' />
	</div>