<body class='background5'>

    <div class='photo-select'>
  		<ul>		
		<li><img src='/assets/Greenfield_Burgner-Lusk-14.jpg' /></li>
		<li><img src='/assets/kara_john1.jpg' /></li>
		<li><img src='/assets/kara_john2.jpg' /></li>
		<li><img src='/assets/kara_john3.jpg' /></li>
		<li><img src='/assets/kara_john4.jpg'/></li>
		<li><img src='/assets/kara_john5.jpg' /></li>
		<li><img src='/assets/kara_john6.jpg' /></li>
		<li><img src='/assets/kara_john7.jpg' /></li>
		<li><img src='/assets/kara_john8.jpg'/></li>
		<li><img src='/assets/csv2012-07-14_17-55-58_425.jpg' /></li>	
    </div>

	<div class='photo-main'>
		<img src='/assets/kara_john2.jpg' />
	</div>