
<body class='background3'>

<h1 class='home'>Registry</h1>


<div id='registry' class='story-text'>
	
<h4>We are registered with the following retailers:</h4>

<ul>
	<li><a href="https://www.anthropologie.com/anthro/wishlist/wishlist.jsp?emailOrigin=true&giftlistId=gl_PHL2671423434">Anthropologie</a></li>	
	<li><a href="http://www.crateandbarrel.com/Gift-Registry/Kara-Greenfield-and-John-Burgner/r5003828">Crate & Barrell</a></li>
	<li><a href="http://www.target.com/GiftRegistrySearchViewCmd?registryType=WD&jsRequest=true&catalogId=10051&status=completePage&cumulativeTime=-1&listId=0xTfqFN5C1tCa3P1GSe_mQ&noOfPings=&registryFirstName=kara+&langId=-1&segmentGrpName=-1&storeId=10151&registryLastName=greenfield">Target</a></li>
</ul>
	
<h4>If in lieu of gifts you would prefer to make a donation, we support the following charities:</h4>

<ul>
  <li><a href="http://www.doctorswithoutborders.org">Doctors without Borders</a></li>
  <li><a href="http://www.childfund.org">ChildFund International</a></li>
  <li><a href="http://www.nature.org">The Nature Conservancy</a></li>
  <li><a href="http://www.cbf.org">The Chesapeake Bay Foundation</a></li>
</ul>


<h4>Additionally, the groom would like it known that if a libation is in order, he prefers old scotch...</h4>

</div>