
<body class='background3'>

<h1 class='home'>Registry</h1>


<div id='registry' class='story-text'>
<h4>In lieu of gifts, we ask that you please make a donation to one of the following charities:</h4>

<ul>
  <li>Doctors without Borders</li>
  <li>ChildFund International</li>
  <li>The Nature Conservancy</li>
  <li>The Chesapeake Bay Foundation</li>
</ul>

That said, John does like old scotch...

</div>